.answer-content {
    border-top:1px dotted #ddd;
}
.answer-content:first-of-type {
    border: none;
} 
.answer-content:last-of-type {
    margin-bottom: 30px;
} 
label.answer {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    padding-right: 40px;
}
@media screen and (min-width: 40em) {
    label.answer {
      font-size: 20px;
      line-height: 24px;
    } 
}
label.answer.answer-label:hover {
    background: #ddd;
}
.help-text-link-message {
    display: none;
    font-size: 16px;
    line-height: 20px;
    padding-left: 40px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
}
@media screen and (min-width: 40em) {
    .help-text-link-message {
      font-size: 20px;
      line-height: 24px;
    } 
}

.help-text {
    margin-bottom: 5px;
}

.help-text-link {
    font-size: 16px;
    line-height: 20px;
}
@media screen and (min-width: 40em) {
    .help-text-link {
      font-size: 20px;
      line-height: 24px;
    } 
}

a.help-text-link {
    margin-top:5px;
}

a {
    top: 30px;
}

input[type='radio'] {
    display: inline;
    width: 30px;
    height: 30px;
}

input[type='checkbox'] {
    display: inline;
    width: 30px;
    height: 30px;
}

button[type='submit'].button-next {
    background-position: 100% 60%;
}

button[type='submit'] {
    margin-bottom: 10px;
}

h2.question-header {
    margin: 30px 0;
}

ul {
    margin-bottom: 40px;
    clear: both;
}

ul li {
    margin-bottom: 15px;
}

div.question-rationale {
    background-color: #e4f1f9;
    position: relative;
    padding: 10px 20px;
    border-left: 4px solid #0073c6;
    margin: 0 0 30px 0;
}

div.question-rationale.no-header {
    padding: 20px 20px;
    margin-bottom: 10px;
}

div.question-rationale.no-header p {
    padding-bottom: 0;
}


    div.question-rationale h3 {
        font-size: 100%;
        line-height: 32px;
    }

    div.question-rationale p {
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

.answer-radio {
    position: absolute;
    top: 10px;
    height: 100%;
}

.answer-checkbox {
    position: absolute;
    top: 10px;
    height: 100%;
}

.answer-text {
    position: relative;
    left: 40px;
}

.answer-label {
    display: block;
    padding: 15px 0 15px 0;
    color: #231f20;
}

.none-label {
    display: block;
    padding: 25px 0 25px 0;
    color: #231f20;
}

hr.compact {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top:0px;
    margin-bottom:0px;
}

.supporting-info-radio {
    display: inline;
    float: left;
    width: 40px;
}

.supporting-info-text {
    padding-left: 40px;
}
ul.bulleted {
    list-style-type: inherit;
}