
.care-advice {
    padding: 30px 0;
    clear: both;
}

.care-advice-keywords {
    padding-bottom: 20px;
}

.care-advice .care-advice-keywords ol {
    padding: 0 20px;
    list-style-type: decimal;
    line-height: 32px;
}
@media (max-width: 640px) {
    .care-advice .care-advice-keywords ol {
        line-height: 24px;
    }
}

.care-advice  ul  {
    padding: 0 20px; 
    list-style-type:disc;
    margin: 0 0 20px 20px;
}

.care-advice  ul li ul  {
    padding: 5px 0;
    list-style-type:circle;
}

 .care-advice .care-advice-keywords ol li:first-child {
    margin-left: 0;
}
.care-advice h3, .care-advice-section-header {
    font-size: 38px;
    line-height: 32px;
    padding-bottom: 20px;
}
@media (max-width: 640px) {
    .care-advice h3, .care-advice-section-header {
        font-size: 24px;
        line-height: 28px;
    }
}

.care-advice h4 {
    font-size: 28px;
    line-height: 32px;
}
@media (max-width: 640px) {
    .care-advice h4 {
        font-size: 24px;
        line-height: 28px;
    }
}

.self-care-title {
    padding-bottom: 20px;
}

.service-booking-message {
    background-color: #fffabf;
    padding: 20px;
    border-left: 4px solid #FFCF47;
    margin: 1rem 0 2rem 0.8rem;
}

.service-booking-message.alert {
    background-color: #F5E5E6;
    border: 1px solid #982426;
    border-left: 4px solid #982426;
    margin-left: 0;
}

.save-link {
    clear: both;
    margin-top: -20px;
    padding: 5px 20px 20px 20px;
}

.save-link h3 {
    font-size: 1em;
}

.save-link .form-control {
    width: 100%;
    margin-bottom: 10px;
}

#copy {
    margin-right: 10px;
}