/*enable scrollbars stop avoid page jump*/
html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
     background-image:none;
     background:none;
     outline:none;
}

input[type="submit"], button[type="submit"]{
     cursor:pointer;
     outline:none;
 }

body {	
	color:#fff;
}

.caps{text-transform:uppercase;}

.content-container{
    max-width:1020px;
    margin:0 auto;

}

p {
	margin:0 0 20px 0;
	padding:0;
}

a{
	color:#fff;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.left {
	float:left;
}
.right {
	float:right;
}
body ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#homePage #wrapper{
      background:#00b8e7;
}

#wrapper {
	margin: 0 auto;
	/*max-width: 1020px;*/ /*full width fix*/
  	overflow: hidden;
	position: relative;
	clear:both;
}
.global-header__wrapper {
	padding:0 30px;
	
	margin: 0 auto;
	max-width: 1020px;
	overflow: hidden;
	position:relative;
}
.global-header {
	background:#fff;
	color: #fff;
    height:85px;    
    /*full width fix*/
    margin: 0 auto;
   
}
header img {
	padding:0;
    
}
h1 {
	font-weight:normal;
	font-size:35px;
	margin:20px 0 30px 0;
}
h2 {
	font-size:22px;
	color:#31420c;
}
.standout {
	font-size:25px;
	font-weight:bold;
}
.phase-notice {
	border-top: 2px solid #f7f7f7;
	border-bottom:0;
	color: #0b0c0c;
	font-size: 14px;
	padding: 10px 0;
	vertical-align: middle;
}
.button {
	background-color: #384e10;
	border: medium none;
	border-radius: 0;
	box-shadow: 0 2px 0 #31420c;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	line-height: 1.4;
	margin: 30px 15px 15px 0;
	padding: 7px 10px 5px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
}

#logStatus {
	display: block;
	height: 25px;
	position: absolute;
	right: 15px;
	top: 42px;
	background:url(../../content/img/user-icon.png) 100% 0 no-repeat;
}
#logStatus span {
	font-size:15px;
	float:right;
	display:block;
	padding-right:35px;
}
.content-container {
	min-height: 510px;
	padding: 0 30px;
}
#content {
	clear:both;
	margin:0;
	padding:0;
	float:left;
	width:100%;
}
footer {
	background:#829b41;
	color: #fff;
	font-size: 16px;
	overflow: hidden;
	width:100%;
	float:left;
}
.footerWrapper {
	border:0;
}
.footerMeta {
	margin: 0 auto;
	max-width: 1000px;
	overflow: hidden;
	padding:0 20px;
}
footer h2 {
	font-size:14px;
	font-weight:bold;
	padding-bottom:14px;
}
footer ul.info {
	list-style-type:none;
	padding-left:10px;
	float:left;
}
footer ul.info li a {
	font-size: 15px;
	text-decoration: none;
	line-height: 14px;
	font-weight:normal;
	color:#fff;
}
footer ul.info li a:hover {
	text-decoration:underline;
	color:#fff;
}
.footerLogos {
	float: left;
	width: 100%;
	margin:20px 0 0 -15px;
}
.footerLogos ul {
	list-style-type:none;
}
.fiftyFiftyLeft {
	width:50%;
	float:left;
	text-align:center;
	padding:20px 0 20px 0;
}
.fiftyFiftyRight {
	width:50%;
	text-align:center;
	float:left;
	padding:20px 0;
}
.fiftyFiftyLeft img {
	width:35%;
}
.fiftyFiftyRight img {
	margin-bottom: 13px;
	width: 40%;
}
.fiftyFifty button {
	margin-bottom:30px;
}
footer ul.info li {
	float:left;
	margin-right:20px;
}
#emergency {
	background:#751b1b;
}
#emergency #wrapper {
	margin: 0 auto;
	max-width: 1020px;
	overflow: hidden;
	position: relative;
	background:url(../../content/img/bg/red-corner.png) 28px -8px no-repeat;
}
#emergency .fiftyFiftyLeft {
	text-align:left;
}
#emergency .fiftyFiftyRight img {
	width:95%;
}
#emergency .fiftyFiftyRight {
	padding-top:20px;
	text-align:left;
}
#emergency .fiftyFiftyLeft img {
	width: 88%;
	margin-top:30px;
}
#whiteBox {
	float:left;
	background:#fff;
	padding:20px;
	width:80%;
	border-radius:5px;
}
#whiteBox h2 {
	background:url(../../content/img/bg/briefcase-icon.png) 1px 0px no-repeat;
	font-size: 19px;
	padding: 8px 0 5px 47px;
	margin-bottom:18px;
	color:#691414;
}
#whiteBox li {
	color: #691414;
	font-size: 15px;
	line-height: 1.3em;
	list-style-type: circle;
	margin: 9px 0 0 16px;
}
.fiftyFiftyRight #cancel {
	background:#2e0404;
	margin-top:0;
	padding:14px 30px 10px;
	border-radius: 5px;
	box-shadow: 0 2px 0 #2e0404;
	font-size:30px;
	float:left;
}
.fiftyFiftyRight #cancel:hover, .fiftyFiftyRight #cancel:focus {
	background:#5c0c0c;
	box-shadow: 0 2px 0 #5c0c0c;
	float:left;
}
.fiftyFiftyRight .cancelHelp {
	font-size: 13px;
	font-weight: bold;
	padding-top: 15px;
	text-decoration: underline;
}
.fiftyFiftyRight #book {
	background: #813261;
	margin-top: 0;
	padding: 14px 30px 10px;
	border-radius: 5px;
	box-shadow: 0 2px 0 #6f2b53;
	font-size: 30px;
	float: left;
}
.fiftyFiftyRight #book:hover, .fiftyFiftyRight #book:focus {
	background:#6f2b53
}
#bookAppointment {
	background:#d670af;
}
#bookAppointment #wrapper {
	background: url("../../content/img/bg/pink-corner.png") no-repeat 28px -8px #d670af;
}
#bookAppointment .fiftyFiftyLeft {
	margin-right: 5%;
	text-align: left;
	width: 45%;
}
#bookAppointment .fiftyFiftyRight {
	text-align: left;
	width: 45%;
	margin-left:5%;
}
.fiftyFiftyRight .mapPlugin img {
	width:85%;
}
.fiftyFiftyLeft .distanceInfo {
	float:left;
	width:58px;
	height:100px;
}
.fiftyFiftyLeft .hospitalAddress {
	text-align:left;
	float:left;
	width:85%;
}
.fiftyFiftyLeft .distanceInfo img {
	float:left;
	width:75%;
}
#bookAppointment .fiftyFiftyRight img {
	width:100%;
}
#timePicker {
	float: left;
	margin-bottom: 20px;
}
#bookAppointment #timePicker li {
	font-size: 14px;
	margin: 0 10px 10px 0;
	padding: 5px 5px 3px;
	text-align: center;
	width: 12%;
	color:#fff;
	background:#cd69a7;
	color:#df8bbf;
}
#bookAppointment #timePicker li.available {
	color:#9f6688;
	background:#fff;
}
#bookAppointment #timePicker li.selected {
	background:#813261;
	color:#fff;
}
#bookAppointment ul li {
	float:left;
	background:#ebbad8;
	margin-bottom:20px;
	width:100%;
	border-radius: 3px;
	padding:10px 0 0 10px;
	color:#eb95ca;
}
#bookAppointment li.selected h2 {
	color:#cf5c9d;
}
#bookAppointment li h2 {
	color:#eb95ca;
}
#medCentres li.selected {
	background:#fff;
	color:#cf5c9d;
}
.distanceInfo span {
	display: block;
	float: left;
	font-size: 13px;
	margin-top: 5px;
}
.hospitalAddress .phone {
	background:url(../img/pink-tel.jpg) 0 0 no-repeat;
	display: block;
	float: left;
	margin-bottom: 10px;
	padding-left: 33px;
	height:28px;
}
.hospitalAddress .website {
	background:url(../img/pink-website.jpg) 0 0 no-repeat;
	display: block;
	float: left;
	margin-bottom: 10px;
	padding-left: 33px;
	height:28px;
}
/* Pathway page */

#pathway, #pathway #wrapper {
	background:#95104f;
}
#pathwayAccordion h1, #pathwayAccordion h2 {
	color:#840a3b;
	padding-left:0px;
}

#pathway .content-container{
    background: #95104f;
    padding: 30px 30px 0;
}
#pathway .questionHeader {
	font-size:22px;
	margin:0 0 30px 0;
	text-align:left;
}
#pathwayAccordion h2 {
	font-size:21px;
	margin: 3px 0 0;
	padding: 20px 80px 20px 10px;
	border-top:1px solid #840a3b;
	border-radius:0;
	outline:none;
}
.ui-accordion .ui-accordion-content {
	padding: 0 0 15px;
}
#pathwayQuestions {
	/*margin:3%;*/
	padding:30px;
	background:#fff;
	border-radius:3px;
	color:#840a3b;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border:0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border:0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border:0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border:0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border:0;
}
#pathwayAccordion {
	clear:both;
	
}
#pathwayAccordion label {
	display:block;
	clear:both;
	padding: 10px 20px;
	font-size: 18px;
	color: #840a3b;
    cursor:pointer;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:url(../img/bg/accordion-default-bg.png) no-repeat 100% 56% #fff;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: url(../img/bg/accordion-expanded-bg.png) no-repeat 100% 56% #fff;
}
#pathwayQuestions .headIcon {
	background:url(../img/bg/total-questions-bg.png) no-repeat 100% 100% #fff;
	display:block;
	float:left;
}
#pathwayQuestions .button {
	background:#95104f;
	border-radius: 5px;
	box-shadow: 0 2px 0 #7f0e43;
	font-size: 15px;
	margin-top:40px;
	padding: 14px 30px 10px;
}
#feverYesMore {
	background: none repeat scroll 0 0 #922652;
	border-radius: 3px;
	clear: both;
	color: #fff;
	float: left;
	margin: 5px 0 10px 45px;
	padding: 15px;
}
.moreQuestions .moreHeader {
	margin-bottom:10px;
	font-size:19px;
}
.validate {
	width:100%;
}
#feverYesMore label {
	color:#fff;
}
a.help {
	background:#922652;
	color: #fff;
	font-size: 14px;
	font-weight:normal;
	padding: 0 6px;
	text-decoration:none;
	border-radius:3px;
	border:1px solid #922652;
}
a.help:hover {
	background:#d9d9d9;
	color:#922652;
	border-radius:3px;
	border:1px solid #922652;
}
.hiddenHelp {
	background: #922652;
	border-radius: 3px;
	clear: both;
	color: #fff;
	float: left;
	margin: 5px 0 10px 45px;
	padding: 15px;
	width: 65%;
}
.hiddenHelp p {
	font-size:13px;
	margin:10px 0;
}
/*search styles */
#search, #search #wrapper {
	background:#00b8e7;
}

#search div.header a.closeDisclaimer{
    float:right;
}

#search h2 {
clear: both;
    color: #fff;
    float: left;
    font-size: 39px;
    font-weight: bold;
    margin: 120px 0 10px;
    width: 100%;
}

/*search bar styles */

#search #content{
	margin-bottom:60px;
}


.searchWrap {
	/*background: #f0f0f0;
    border: 1px solid #ccc;
	padding: 5px 0 6px 11px;*/
    margin: 0 0 15px 0;
	overflow: hidden;
	position: relative;
	border-radius:5px;
	float:left;
	width:95%;
	clear:both;
	
}
.search {
	width:60%;
	background: url("../img/bg/searchGlass.jpg") no-repeat scroll 99% 10px white;
	border:1px solid #d9d9d9;
	border-bottom:2px solid #d9d9d9;
	border-radius:5px;
	color: #0080bb;
	float: left;
	font-size: 24px;
	padding:8px 40px 9px 13px;
	position: relative;
	
}
.go {
	background: none repeat scroll 0 0 #007ec0;
	border:0;
	border-bottom: 2px solid #015998;
	border-radius: 5px;
    box-shadow:none;
    line-height:normal;
	color: #fff;
	float: left;
	font-size: 17px;
	font-weight: bold;
	 margin: 0 8px 0 6px;
    padding: 14px 10px 10px;
	width: 57px;
    text-align:center;
}
#linkBodySearch {
	float:right;
	font-size:18px;
	height:50px;
	padding-right:20px;
	background:url(../img/bg/white-arrow-bg.jpg) right center no-repeat;
}
#linkBodySearch span {
	display:block;
	float:left;
	margin-top:13px;
}
#linkBodySearch span.bgIcon {
	width:40px;
	height:81px;
	margin-top:0;
	background:url(../img/bg/searchBody.jpg) 7px 0 no-repeat;
}

#search h3{
 clear: both;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1px;
    margin-left:10px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing:3px;

}

#commonConditions{
	margin:20px 0;
	font-size:19px;
}


#commonConditions li{
	padding-left:20px;
}

#search .ui-widget-content {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0080bb;
	margin-top:-7px;
}

/*
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	
	background: #0080bb;
	font-weight: normal;
	color: #fff;
	border:0;
	
}*/
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #0080bb;
	text-decoration: none;
		border:0;
}



/* Crossroads - Landing page */

#crossroads{
	background:#e8e8e8;
	
}

#crossroads #wrapper{
	background:#e8e8e8;
}

#crossroads .fiftyFiftyLeft{
	background:#169ed0;
	border-radius: 3px;
    color: #fff;
    margin-right: 2%;
    text-align: left;
    width: 55%;
	padding: 2%;
}

#crossroads .fiftyFiftyLeft img {
	width:auto;
	float:right;
}

.fiftyFiftyRight .imageHolder{
	text-align:center;
    margin-bottom:15px;
}

.fiftyFiftyRight img {
	width:auto;
}

#crossroads .fiftyFiftyRight{
	background:#0c8e5e;
	border-radius:30px;
	color:#fff;
	text-align:left;
    padding:3% 5% 5% 5%;
    width:29%;

  
	}

#crossroads .fiftyFiftyRight img {
    margin-bottom:5px;
    }

#crossroads h1 {
    margin-bottom:5px;
   
}

#crossroads h2 {
    margin-bottom:50px;
    color:#fff;
     border-bottom: 2px solid #fff;
    
}

#crossroads .fiftyFiftyLeft li {
    list-style:disc;
    margin-left:20px;
}

.fiftyFiftyLeft #getHelp {
    background: #0c5d7b;
    border-radius: 5px;
    box-shadow: 0 2px 0 #094f69;
    float: left;
    font-size: 21px;
    margin-top: 35px;
    padding: 14px 30px 10px;
}



/* Disclaimer styles*/

#disclaimer {

    margin:0 auto;
    position:relative;

    /*full width fix*/
    /*max-width:1020px;*/

}

#disclaimerContentWrapper{
    margin: 0 auto;
    max-width: 1020px;
    
}

#yellowWrapper{
    width:100%;
    background:#e4e72e;
    float:left;
}

#disclaimer #close {
     background:#264a3e;
    border-radius: 5px;
    box-shadow: 0 2px 0 #204033;
    font-size: 15px;
    margin: 0 0 50px 0;
    padding: 14px 30px 10px;
    border:0;
    }
header .close {
    padding:0;
    right: 50px;
    top: 43px;
    position:absolute;
    cursor:pointer;
  
}

#disclaimer .center {
    text-align:center;
    padding: 0 30px;
    clear:both;
}
#disclaimer .header {
    padding:10px 0 0 0;
    text-transform: uppercase;
    text-align:center;
    display:block;
    font-size: 26px;
    font-weight: bold;
    /*background:url(../img/bg/disclaimerBG.png) repeat 0 -13px #e4e72e;*/
    background:#e4e72e;
    color:#325c52;
}


#disclaimer .discHead {
   
    letter-spacing: 4px;
    padding-top: 30px;
    word-spacing: 10px;
    font-size:35px;
}

#disclaimer .contentWrap {
    margin:0;
    padding:0;
    background:#e4e72e;
    clear:both;
    float:left;
    width:100%;
}

#disclaimer .subHeader {
    font-size:20px;
    text-align:center;
    padding:0;
    color:#2f5d4f;

}

#disclaimerHelp{
    float:left;
    margin:3% 0% 1% 15%;
    padding:20px;
}

#disclaimerHelp li {
   
    background:url(../../content/img/bg/bullet-arrows.png) no-repeat 0 7px;
    background-size:13px;
    margin-bottom: 15px;
    padding-left: 16px;

    }

#disclaimerHelp #left, #disclaimerHelp #right {
    width:350px;
    float:left;
    background:none;

}

#disclaimerHelp #right{
    margin-left:40px;
}

#disclaimerHelp li.lastChild{margin-bottom:0;}

#disclaimerHelp a {
    color:#2f5d4f;
    text-decoration:none;  
    font-size:20px;  
    margin-bottom:10px;
    }

#disclaimerHelp span.green {
    text-decoration:underline;
   
    }

 #disclaimerHelp .helper {
    margin:0 0 10px 0; 
      font-size: 15px;    
      color: #46967b;
    font-style: italic;
    padding: 10px;

    }


/* END -- Disclaimer styles*/




#crossroads .fiftyFiftyRight h2 {
    background:#fff;
    border-radius: 30px;
    color: #01b672;
    margin-bottom: 30px;
    margin-top:-50px;
    padding: 10px;
    text-align:center;
   

}

#crossroads .global-header {
    margin-bottom:50px;

}

#crossroads #content {
    margin-bottom:30px;
}

#pathways .iradio_flat-yellow.checked {
    padding:1px;

}

/*
    Gender Page styles
*/

#gender {
    /*background:#ff7c78;*/
     background:url(../../content/img/bg/gender-bg.gif);

}

#gender #nextScreen{
 background: none repeat scroll 0 0 #8c3433;
    border-radius: 5px;
    box-shadow: 0 2px 0 #7c2a26;
    font-size: 20px;
    padding: 14px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    }

#gender #errmsg{
    color:red;
    font-weight:bold;
}



#gender #content {
       background:url(../../content/img/bg/gender-bg.gif);
       padding-bottom:50px;
    }

#gender .content-container{
   padding:0;
   background:url(../../content/img/bg/gender-bg.gif);

}

#gender #genderContent{
      text-align:center; 
}


#gender #sliderContent{
    text-align:center;
    

}

#gender #sliderContent #nextScreen{
 float:left;
 clear:both;
 margin-left: 420px;

}

/*Gender radio buttons with images */

#gender #columnTwo label > input,
#gender #columnThree label > input
{ 
  display:none;
}

#gender #columnTwo label img,
#gender #columnThree label img{
    cursor:pointer;
}

/*
    #gender #columnTwo label > input + img,
#gender #columnThree label > input + img
{ 
  cursor:pointer;
  border:2px solid transparent;
}
*/

#gender #logStatus {
    color:#1a6fba;    
}

#genderContent h2{
    color:#6f2f40;
    text-align:center;
    margin-bottom:40px;
    font-size:30px;
   
}

.breadcrumb {
    color:#6f2f40;
    font-size:19px;
    font-weight:bold;
    text-align:center;
    padding-top:30px;
}

#gender #threeColumnBlock{
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

#gender #columnOne{
    float: left;
    margin: 15% 0 0 0;
    width: 20%;
}

#gender #columnOne label{
 display:block;
 float:left;
 text-align:center;
 color:#693137;
}



#columnOne span {
    font-size:19px;
    color:#693137;
   
}

#columnOne .boldText {
    font-size:20px;
    font-weight:bold;
    color:#693137;
}


#chooseGender {
    clear:both;
    text-align:center;
}

#chooseGender span {
    font-size:19px;
    color:#693137;
   
}

#chooseGender span.bold {
    font-size:20px;
    font-weight:bold;
    color:#693137;
}

#columnTwo img.selected, 
#columnThree img.selected{
    border:4px solid #d96769;
    padding:5%;
}



#gender #columnOne .largeInputBox{
     background:url(../../content/img/bg/gender-bg.gif);
     border: 4px solid #0072C6;
    clear: both;
    color: #000;
    display: block;
    float: left;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 13px 0;
    text-align: center;
    width: 87px;
}


#gender #columnOne span {
    display:block;
    clear:both;
    }

#gender #columnTwo{
    width:33.33%;
    float:left;
    text-align:right;
}

#gender #columnThree{
    width:33.33%;
    float:left;
    text-align:center;
}

#sliderContent h2{
   color:#6f2f40;
    text-align:center;
    margin:30px 0 60px 0;
    font-size:30px;
   
}

#sliderContent #twoColumnBlock #columnOne{
    width:70%;
    margin:0;
    padding:0;
    margin-left:0;
    
}

#columnTwo h3{
    text-align:center;
    color:#195164;
    font-weight:bold;
    font-size:21px;
    margin-bottom:20px;
}

#sliderContent #columnTwo p{
    font-size: 15px;
    margin-top: 20px;
}

#sliderContent #columnTwo a{
    text-align:left;
    font-size:15px;
    color:#195164;
    padding-right:15px;
    /*background:url(../../content/img/bg/whiteLinkArrow.png) no-repeat right 8px;*/
    text-decoration:underline;
}

#sliderContent #columnTwo a:hover{
    text-decoration:underline;
}

/*slider styles*/

#sliderContent #twoColumnBlock #columnTwo{
    width:27%;
    text-align:left;
    position:relative;
   
}

.sliderWrapper {
    margin: 40px 0 40px 30px;
    position: relative;
    width: 100%;
}

.range-bar {
    /*background-color: #a9acb1;
    border-radius: 15px;*/
    background:url(../../content/img/barNew.png) no-repeat;
    
    display: block;
    height: 45px;
    position: relative;
    width: 88%;
}


#sliderTop .range-handle {
    background:url(../../content/img/slider_button.png) no-repeat;
    background-size:66%;
     top: -17px;
    cursor: pointer;
    height: 120px;
    width: 120px;
    left: 0;
    position: absolute;
   
    
}

.range-min, .range-max {
    color: #181819;
    font-size: 12px;
    height: 20px;
    padding-top: 4px;
    position: absolute;
    text-align: center;
    top: -9px;
    width: 24px;
}

.range-min, .range-max {
    padding-top: 1px !important;
}

.range-quantity {
    background-color:#26b9cf;
    display: block;
    height: 100%;
    width: 100%;
    border-radius:30px;
}

#sliderBottom .range-quantity {
    background-color:#26b9cf;
  
}

#sliderContent #twoColumnBlock .minHandle {
 clear: none;
    display: block;
    float: left;
    font-size: 18px;
    font-style:italic;
    margin-left: 75px;
}

#sliderContent #twoColumnBlock .maxHandle {
     font-size: 18px;
    display:block;
    clear:none;
    float:right;
    margin-right:91px;
    font-style:italic;
 
}

#sliderTop{
    width:100%;
    float:left;
    clear:both;
    margin-bottom:60px;
}

.sliderHeading{
   color: #6f2f40;
    font-size: 20px;
    margin-left: 31px;
    text-align: left;
}

#sliderBottom .range-handle {
 
    background:url(../../content/img/slider_button.png) no-repeat;
    background-size:66%;
     top: -17px;
    cursor: pointer;
    height: 120px;
    width: 120px;
    left: 0;
    position: absolute;
 
 
    
}

#sliderBottom .range-min, #sliderBottom .range-max{
    display:block;
    position:absolute;
    text-indent:-999999px;
}

#twoColumnBlock #sliderBottom #js-display-change{
  background:#622a30;
  border-radius:22%;
    clear: none;
    color: #fff;
    display: inline;
    font-size: 30px;
    font-weight: normal;
    padding: 0 18px;
}

 #sliderBottom .painDays,#sliderBottom .painDays span{
  /* color:#01708e;*/
   color: #fff;
    font-size: 18px;
    text-align: center;
 }


/*Bubble css*/


.infoBubble {
    /*background:url(../../content/img/bg/redBubbleBg.png) repeat; */
    background:#fff3f3;
    border-radius: 20px;
    margin: 0 15%;
    padding: 7%;
    text-align: center;
    color:#195164;
}

.infoBubble p{text-align:left;}

.leftArrow {
    position:absolute;
    top:155px;
    left:2px;
}

#gender #logStatus{
    background:url(../../content/img/bg/logStatusIcon.png) no-repeat 100% 0;

}

#genderContent .hideInput {
    visibility:hidden;
    
}


/*Home page styles*/
#homePage{
    background:#13aae1;

}

#homePage .global-header__logo {
    text-align:center;
    }

#homePage h1{
   color: #0f72b9;
    font-size: 18px;
    font-weight: bold;
    margin: 7px 0 20px;
    text-align: center;
    text-transform: uppercase;
}

#homePage #threeColumnBlock{
    clear:both;
    width:100%;
    margin-top:80px;
    text-align:center;
}

#homePage #columnOne{
    float:left;
     width:35%;
    text-align:center;
    position:relative;
}

#homePage #columnTwo{
    float:left;
    width:35%;
    text-align:center;
    position:relative;
}

#homePage #columnThree{
    float:left;
    width:30%;
    text-align:center;
    position:relative;
}

#homePage .iconText{
    color: #193f50;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    text-transform: uppercase;
}

#homePage .greyArrowRight{
    position:absolute;
    right:0;
    top:38%;
}

#homePage #getHelpBtn{
    background: #feca49;
    border-radius: 5px;
    box-shadow: 0 2px 0 #d8aa3e;
    font-size: 20px;
    margin: 50px 0 30px 0;
    padding: 14px 0px 10px;
    text-transform:uppercase;
    color: #193f50;
    width:200px;
    border:0;
    
}

#homePage footer{
    background:url(../../content/img/bg/blueBg.png);
    float: left;
    padding-bottom: 20px;


}

#homePage #footerColumn{
  color: #193f50;

    margin: 0 auto;
    max-width: 1020px;
    padding: 45px 20px 20px 20px;

}

#homePage #footerColumnOne{
    width:18%;
    float:left;
}

#homePage #footerColumnTwo{
    width:35%;
     height: 180px;
    float:left;
     background:url(../../content/img/bg/homeDivider.png) no-repeat right center;
}

#homePage #footerColumnThree{
  float: left;
    padding-left: 4%;
     width: 36%;
}

#footerColumnThree a{
    color:#fff;
    
}

#footerColumnThree p{
    margin-top:41px;
}

#footerColumnTwo h2{
    text-transform:uppercase;
     color: #12485a;
     font-size:20px;
     font-weight:bold;
}

#homePage footer p{
    margin-bottom:0;
    font-size:13px;
     width: 88%;
     line-height:1.6em;
     color:#12485a;
}

#disclaimerWrap{
    margin:0 auto;
}

/* JTBS Page styles */

#jtbs{

     background:url(../../content/img/bg/jtbsBG.jpg);
    }

#jtbsQuestion{
    text-align:center;
}


#jtbsQuestion .headImage{
    margin:40px 0 0 0;
}

#jtbsQuestion h2{
    text-transform:uppercase;
    color:#fff;
    font-size:46px;
    font-weight:bold;
    word-spacing:4px;
    margin-top:30px;
}

#jtbsQuestion .subHeader{
    
        color:#fff;
        font-size:22px;
}

#jtbsQuestion label {
	display:block;
	clear:both;
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
    cursor:pointer;
    text-align:left;
    
    
}

.customRadios{
     margin:30px 0 0 200px;
     width:62%;
     
}

.customRadios .iradio_flat-yellow{
  float: left;
    height: 40px;
    margin-right: 10px;
    width: 21px;
}


#jtbsForm {
    text-align:center;
}

#jtbs #nextScreen{
    background:#8c3433;
    box-shadow:0 2px 0 #7c2a26;
    border-radius: 5px;
    font-size: 20px;
    margin:50px 0 30px -230px;
    padding: 14px 0 10px;
    text-transform: uppercase;
    text-decoration:none;
    width: 200px;
    border:0;
}

#jtbs #nextScreen:hover{
    text-decoration:none;
}


#jtbs label span.red{
       clear: both;
    color: #fff;
    display: block;
    font-size:18px;
    line-height: 1.8em;
    margin-left: 30px;
}

#timedQuestion span.red{
       clear: both;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 1.8em;
    margin-left: 30px;
    text-align:left;
}

/* Interactive timer - questions page*/

#timedQuestion{
         background:url(../../content/img/bg/jtbsBG.jpg);
}

#timedQuestion .nhs-radiobtn__label{
      clear: both;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 20px;
    margin-bottom: 1.2em;
    margin-right: 1.1em;
    padding-left: 2em;
    position: relative;
 }

#timedQuestion .nhs-the-question{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#timedQuestion .nhs-body-container{
    padding-top:0;
}

#timedQuestion .nhs-question-container{
   margin-bottom: 30px;
    margin-top: 0px;
}

#timedQuestion .nhs-answer-container{
    float: left;
    margin-bottom:0;
    width: 100%;
}

#timedQuestion #nextScreen,
#timedQuestion #previousScreen {
    background: none repeat scroll 0 0 #8c3433;
    border-radius: 5px;
    box-shadow: 0 2px 0 #7c2a26;
    font-size: 20px;
    padding: 14px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: 235px;
}

.nhs-page-navigation{
    background:#ea5455;
}

.nhs-first-page .nhs-navtriangle{
    border-bottom: 1em solid #fe6565;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    top: -0.9em;
}

#timedQuestion .nhs-countdown-container{
    margin:30px 0 15px 0;
}

.progress-indicator .indicator {
    color: #1672ba;
    font-size: 15px;
    height:38px;
    padding:10px 30px;
}

.progress-indicator .active{
    color:#fff;
}

.nhs-first-page .nhs-navtriangle{
    display:block;
}


#timedQuestion .nhs-the-answer{
    text-align:left;
}

.progress-indicator .active .caps{
    font-style:italic;
}

/*GP Search page */

.global-header img{
       width:auto;
       height:auto;
}

.progress-container{
    display:none;
}

#gpSearch h2, #personalInfo h2,
#addressInfo h2, #dosService h2{
    color:#fff;
}

input.predict[type="search"] {
    background:url(../../content/~/content/_assets/img/magnifying-glass.png) 100% 3px no-repeat #fff;    
}

.validation-summary-OOH{
    display:none;
}

#emergency{
    background-image:url(../../content/~/content/_assets/img/bg-pattern.png);
    background-color:#cc0000;
}

#emergency h2{
    color:#fff;
}

.heading-xlarge-caps{
    font-size:42px;
}

#genderContent h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

#sliderContent h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

#submitAddress{
    margin-top:15px;
}

/*hidden items for alpha demo */

#Postcode{
   
}

#personalInfo h2{
    color:#003366;
    font-weight:bold;
}

#personalInfo .EnterManually{
    background:#006699;
    box-shadow:0 2px 0 #006699;
    font-size: 18px;
}

#cngAddressHome:hover{
    color:#fff;
}

.yesNoRadio{
  color: #003366;
    display: block;
    font-size: 15px;
    font-weight:bold;
    margin: 30px 0 20px;
}

.EnterManually{
    border-radius: 3px;
    float: right;
    font-size: 18px;
    font-weight: normal;
    margin-right: 0;
    padding: 15px 8px 10px;
    width: 220px;
}

#NextGPDetails{
    float:right;
    margin-left:0;
    font-size:18px;
}

.logo img{
        margin-top:16px;
}

#homePage .global-header{
    height:115px;
}

#FindGP{
    color: #6f777b;
    font-size: 0.75em;
    font-style: italic;
}

/* dos page styles */

.serviceCareSummary{
    background:#d6d6d6;
     border-radius: 3px;
    float: left;
    padding: 10px;
    width: 100%;
    font-size:13px;
}

#dosService .button{
        float:left;
        clear:both;
        border-radius: 3px;
    font-size: 18px;
    font-weight: normal;
    margin-right: 0;
    padding: 15px 8px 10px;
    width: 220px;
    background:#004479;
    box-shadow:0 2px 0 #004479;
    width:150px;
    margin-top:10px;
    margin-bottom:0px;
}

.service h4{
    padding:0 0 10px 0;
}

.surgery .home{

background:url(../../content/_assets/img/icon-services-house-blue.png) no-repeat;
padding-left:30px;
background-size:21px;
}

.nhs-countdown-container{
    /*display:none;*/
}

#emergency .list-plus{
    font-size:15px;
}

.two-columnlayout .twocol-second{
    padding-top:10px;
}


#emergency .twocol-second .hero{
    margin-bottom:70px;
}

#dosService li{
    font-size:15px;
}

#dosService li a{
    color:#fff;
    text-decoration:underline;
}

#timedQuestion .nhs-page-navigation__link{
    
    background:none;
    color: #fff;
    font-size: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 5px;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    width: 300px;
    
}

#timedQuestion .nhs-page-navigation__link:hover{
    text-decoration:underline;
}

#timedQuestion .nhs-page-navigation{
    padding-bottom:0.8em;
     border-bottom: 2px solid #da4d4e;
   
}

#personalInfo .changeAddress {
    text-transform: none;
}

#dosService h2.darkBlue{
    color:#004479;
    font-weight:bold;
    font-size:42px;
    margin-top:20px;
}

#dosService .notificationMsg{
     color:#004479;
     letter-spacing:2px;
}

#dosService #confirmedAppt{
   
    background:none;
    border: 1px solid #ddd;
    border-radius:3px;
    box-shadow: none;
    clear: both;
    color: #003366;  
    float: left;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;

}

#dosService #confirmed li{
    list-style-type: disc;
    margin-bottom: 20px;
    margin-left: 20px;
}

#dosService .surgery li a{
    color:#004479;
    text-decoration:none;
}

#dosService .surgery li a:hover {
    text-decoration:underline;
    }

.homeLinks{
    background:none;
    border:none;
    outline:none;
    box-shadow:none;
}

#addressInfo #SubmitAddress,#NextGPDetails, #submitAddress{
    box-shadow:none;
    margin-right:3px;

}

#changeAddress{
    border: 1px solid #fff;
    padding: 6px;
    text-transform: none;
}

.ui-menu .ui-menu-item:hover{
    background:#dadada;
    border-bottom:1px solid #ccc;
}

input[disabled], button[disabled]{
    cursor:not-allowed !important;
}

#columnTwo .infoBubble h3{
   background:url(../images/bg/sliderH3.png) no-repeat -3px 21px;   
   padding-bottom:20px;
}

/*Progress meter*/

.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background:#e28b8c;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 1px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin:3% 20%;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius:20px;
  position: relative;
  overflow: hidden;
}

.nhsBlue > span {
  background:#007aaa;
  background-image: linear-gradient(to bottom, #007aaa, #007aaa);
}

#timedQuestion .nhs-pagenav-container{
    max-width:600px;
}

#timedQuestion .guideText {
    margin-top:0;
}

.guideText{
  
       color:#fff;
       font-weight:bold;
       font-size:18px;
       margin-top:30px;
}

.nhsBlue > span.p25{
    width:10%;
}

.nhsBlue > span.p25{
    width:25%;
}


.nhsBlue > span.p100{
    width:100%;
    background:green;
}

#jtbs .content-container {
    margin-top:90px;
}
#progressWrapper{
    margin: 1% 25%;
    padding-top:30px;
}

#jtbs .meter{
   float: left;
    height: 17px;
    margin: 0;
    width: 65%;
    margin-right:15px;
}
#timedQuestion .meter {
    float: left;
    height: 17px;
    margin: 0;
    width: 75%;
    margin: 2px 15px 0 0;
}
#jtbs .nhs-page-navigation{
    padding-bottom:11px;
     border-bottom: 2px solid #da4d4e;
}

#timedQuestion #progressWrapper{
    margin: 2% 5%;
    padding-top:0;
}