@charset "utf-8";
/* Site template layout styles */

html {
    color: #004877;
    font-size: 18px;
}



div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, select {
    border: none;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 15px;
    line-height: 1.4em;
}

.bold {
    font-weight: bold;
}

.caps {
    text-transform: uppercase;
}

.left {
    float: left;
}

.right {
    float: right;
}

.underline {
    text-decoration: underline;
}

.twenty {
    width: 20%;
    float: left;
}

.thirty {
    width: 30%;
    float: left;
}


.fifty {
    width: 50%;
    float: left;
}

.seventy {
    width: 70%;
    float: left;
}

.eighty {
    width: 80%;
    float: left;
}

.row {
    float: left;
    clear: both;
    width: 65%;
    margin-bottom: 20px;
    margin-left: 18%;
}

.full input {
    width: 95.1%;
}

.divider {
    margin-left: 2%;
}

input {
    border: 0 none;
    border-radius: 3px;
    padding: 15px 10px;
    width: 94%;
    font-size: 18px;
    outline: none;
}

select {
    border: 0 none;
    border-radius: 3px;
    padding: 15px 10px;
    width: 100%;
    font-size: 18px;
    outline: none;
}

input:active, input:focus, button:active, button:focus {
    outline: none;
}


#AboutYou .links,
#AboutYou .links:active,
#AboutYou .links:visited {
    color: #003366;
    text-decoration: underline;
    font-size: 15px;
}

    #AboutYou .links:hover, input.links {
        color: #00aad6;
    }

input.links {
    background: none;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: auto;
}



.site {
    clear: both;
    overflow: hidden;
    min-height: 500px;
}

h1 {
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

h5 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

#HeaderWrapper {
    background: #fff;
}

header,
section,
footer,
#ProgressBar ul {
    margin: 0 auto;
    max-width: 1020px;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
}

#HeaderWrapper,
#ProgressBar,
#FooterWrapper,
#SubHeadWrapper,
#OutcomeQuestion,
#AboutYou,
#FormSearchGP,
#OutcomeEnd,
#OutcomeContent,
#ProgressEnds {
    float: left;
    clear: both;
    width: 100%;
    padding: 20px 0;
}

#MainHeader {
    background: #fff;
}

#ProgressBar {
    padding: 0;
    background: #00aad6;
    border-bottom: 1px solid #ccc;
    display: none;
}

    #ProgressBar li {
        float: left;
        width: 32.33%;
        font-size: 14px;
    }

        #ProgressBar li.firstChild {
            background: #004479;
        }

        #ProgressBar li.secondChild {
            background: #007aaa;
        }

        #ProgressBar li.lastChild {
            background: #00aad6;
            opacity: 100;
        }



#ContentWrapper {
}

#FooterWrapper {
}

.roundNumbers {
    background: #003366;
    height: 30px;
    width: 30px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    color: #fff;
    padding: 0 8px;
}


#FormWrapper {
    clear: both;
    float: left;
    width: 100%;
}

.arrowBox {
    position: relative;
    background: #fed86a;
    border: 0;
    padding: 16px;
}

    .arrowBox:after, .arrowBox:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrowBox:after {
        border-color: rgba(254, 216, 106, 0);
        border-left-color: #fed86a;
        border-width: 24px;
        margin-top: -24px;
    }

    .arrowBox:before {
        border-color: rgba(254, 216, 106, 0);
        border-left-color: #fed86a;
        border-width: 24px;
        margin-top: -24px;
    }

.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    width: 31px;
    height: 30px;
    float: right;
}

.row label {
    color: #003366;
}

/*Spinner styles*/

#loading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #13aae1;
    opacity: 0.9;
    z-index: 1000;
}

#loadingcontent {
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#loadingspinner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 80px;
    color: #003366;
}

.hidden{
    display:none;
}



/*END -- Spinner styles*/