.emergency {
    width:75%;
    color: white;
    padding: 70px 0 35px 0;
    margin: 0 auto;
}
.emergency-img-container {
	position:relative;
	right:50%;
}
.emergency-img {
    float:left;
	position:relative;
	left:50%;
	overflow:hidden;
}
.emergency-text {
	position:relative;
    left: 50%;
	overflow:hidden;
    color: black;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.2em
}
.emergency-text h2 {
    color: #A10400;
    padding-top: 0;
    line-height: 1;
    font-size: 1.4em;
}
@media (max-width: 769px) {
    .emergency-img {
        display:none;
    }
    .emergency-text h3 {
        line-height:3rem;
    }
}

@media (min-width: 925px) {
    .emergency-text h2 {
        font-size: 1.6em;
    }
}
.emergency-hr {
    background-size: 100% 1.5rem;
    clear: both;
}
.emergency-image {
    float: right;
    margin-right: 25px;
}
.button-link {
    border: none;
    padding: 0 !important;
    padding-right: 20px !important;
    cursor: pointer;
    color: #79AFDD;
    background-color: white !important;
    background-image: url("/content/images/icons/icon-link-go.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.button-link:link, .button-link:hover, .button-link:focus, .button-link:visited {
    color: #79AFDD;
    outline: none; 
}
.button-link:hover, .button-link:focus {
    text-decoration: underline !important;
}