#disclaimer {
    max-width: 75%;
    margin: 0 auto;
}



.input-symptoms {
    float: left;
    margin-right: 10px;
}

input.linkButton { 
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer; 

}

a.linkButton { 
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer; 
     margin-left: 0.5rem;
}

ul.list-conditions {
    margin-left: 1em;
    list-style-type: disc;
}

ul.list-conditions, ol.list-conditions {
    line-height: 3rem;
    font-size: 1.2em;
}

.progress-panel ol li {
  background-position: 19px 9px;
  /* reset styles (optional): */
  /*list-style-image: url('/content/img/banner/arrow.png');
  list-style-position: inside;*/
  margin: 0;
}
ol li:last-child {
    list-style-image: none;
}

.progress-panel ol li span { 
    float: left;
    width: 35%;
    margin-left: 77px;
    margin-right: 10%;
    font-size: 1.2rem;
    line-height: 17px;
    font-weight: 600;
    margin-top: 13px;
}


.progress-panel {
    background-color: #003b65;
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    padding: 30px 0 30px 0;
    margin-bottom: 20px;
}

.progress-panel ol {
    max-width: 75%;
    margin: 0 auto;
}

.progress-panel ol li {
  
    float: left;
    width: 25%;
    height: 64px;
    line-height: 64px;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    position: relative;

}

.progress-panel h2 {
    display: inline-block;
    margin: 0 auto;
    max-width: 75%;
    font-size: 1.5em;
    line-height: 3rem;
    text-align: left;
}
.progress-panel hr {
    max-width: 75%;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, transparent 50%, #FFFFFF 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #FFFFFF 50%);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* Border with arrow
.arrow_box {
	position: relative;
	border: 2px solid #AEC7DA;
    border-right: none;
}


.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
*/
.arrow_box:after {

	border-left-color: #003b65;
    z-index: 1;
	border-width: 32px;
	margin-top: -32px;
}
.arrow_box:before {
	border-left-color: #AEC7DA;
	border-width: 34px;
	margin-top: -34px;
}

ol li:last-child.arrow_box:before, ol li:last-child.arrow_box:after, .progress-panel ol li:last-child span:after  {

    display: none;
}

.progress-panel ol li span:after {
    background: url('/content/img/banner/arrow.png') no-repeat right top;
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 67%;
}


@media only screen  and (max-width : 1224px){
    .progress-panel ol li {
        height: 94px;
    }
    .progress-panel ol li span:after {
        background-position: 13px 18px;
        background: url('/content/img/banner/arrow.png') no-repeat right top;
      
    }

    .progress-panel ol li span { 
        width: 77px;
        font-size: 0.9rem;
        line-height: 15px;
        margin-top: 72px;
        margin-left: 10px;
    }

 

    .progress-panel h2 {
        font-size: 1.3em;
        line-height: 2.5rem;
    }
    ol li:last-child {
    list-style-image: none;
}
}

@media only screen and (max-width : 767px){
    .progress-panel ol,  .progress-panel hr  {
        display: none;
    }
}



.module-zero .heading-med {
    font-size: 1.3em;
    margin-top: 30px;
}

.module-zero .button {
    width: 220px;
    margin-bottom: 30px;
}

.module-zero button.button {
    width: 292px;
}

.module-zero .list-conditions li {
    font-size: 0.9em;
}

.module-zero .list-conditions li a {
    text-decoration: none;
    color: black;
}

.module-zero .list-conditions li a span {
    text-decoration: underline;
    color: #0077CC; ;
}

.feeling-unwell {
     background: url(/content/img/banner/unwell-white.png) no-repeat left top;
}
.about-yourself {
     background: url(/content/img/banner/about-yourself-white.png) no-repeat left top;
}
.ask-questions {
     background: url(/content/img/banner/questions-white.png) no-repeat left top;
}
.get-help {
     background: url(/content/img/banner/get-help-white.png) no-repeat left top;
}


