.button-link {
    border: none;
    padding: 0 !important;
    padding-right: 20px !important;
    cursor: pointer;
    color: #79AFDD;
    background-color: white !important;
    background-image: url("/content/images/icons/icon-link-go.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.button-link:link, .button-link:hover, .button-link:focus, .button-link:visited {
    color: #79AFDD;
    outline: none;
}

.button-link:hover, .button-link:focus {
    text-decoration: underline !important;
}

.personal-details-content {
    padding: 1rem 1rem 0 1rem;
    max-width: 45.8333333333rem;
}
@media screen and (min-width: 40em) {
    .personal-details-content {
        max-width: none;
    }
}

.personal-details-content label {
    font-weight: bold;
}

.personal-details-content .form-control {
    border: 2px solid #E6E6E6;
}

 @media (min-width: 641px) {
    #UserInfo_TelephoneNumber {
      width: 25%; 
    } 
 }

.inline-details {
    overflow: auto;
    display: block;
    padding: 0.5rem 0 2rem 0;
}

.inline-details input {
    float: left;
    margin-right: 2rem;
}


.form-hint {
    font-weight: normal !important;
}

.button.find-address {
    background-color: #707070;
    padding-right: 5rem;
    background-image: url("/content/images/icons/icon-button-next.svg");
    background-repeat: no-repeat;
    background-position: 85% 60%;
}

    .button.find-address:link, .button.find-address:hover, .button.find-address:focus, .button.find-address:visited {
        background-color: #333333;
    }

.button.button-submit-details {
    padding-right: 5rem;
    margin-top: 1rem;
    background-image: url("/content/images/icons/icon-button-next.svg");
    background-repeat: no-repeat;
    background-position: 85% 60%;
}

.select-address {
    display: inline-block;
    cursor: pointer;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem;
    background-color: #fff;
    border: 2px solid #b9d2dc;
    -webkit-appearance:none;
    width: 255px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select-address {
        padding-right: 18px;
    }
}

.select-label {
    position: relative;
    color: #b9d2dc;
}

.select-label:after {
    content: '<>';
    font-size: 2.5rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 0;
    top: 0;
    padding-right: 5px;
    position: absolute;
    pointer-events: none;
}

.select-label:before {
    content: '';
    right: 2px;
    top: -1rem;
    width: 30px;
    height: 3.5rem;
    background: #fff;
    position: absolute;
    pointer-events: none;
    display: block;
}
