
.care-advice {
    padding: 30px 0;
    clear: both;
}

.care-advice-keywords {
    padding-bottom: 20px;
}

.care-advice .care-advice-keywords ol {
    padding: 0;
    list-style-type: none;
    line-height: 32px;
}
@media (max-width: 640px) {
    .care-advice .care-advice-keywords ol {
        line-height: 24px;
    }
}

.care-advice  ul  {
    padding: 0; 
    list-style-type:disc;
    margin: 0 0 40px 20px;
}

.care-advice  ul li ul  {
    padding: 5px 0;
    list-style-type:circle;
}

 .care-advice .care-advice-keywords ol li:first-child {
    margin-left: 0;
}
.care-advice h3, .care-advice-section-header {
font-size: 28px;
    padding-bottom: 20px;
}
@media (max-width: 640px) {
    .care-advice h3, .care-advice-section-header {
        font-size: 24px;
        line-height: 28px;
    }
}

.care-advice h4 {
    font-size: 22px;
}

@media (max-width: 640px) {
    .care-advice h4 {
        font-size: 24px;
        line-height: 28px;
    }
}

.self-care-title {
    padding-bottom: 10px;
}
.self-care-title--b {
    padding-bottom: 10px;
	margin-top:40px;
}


.service-booking-message {
    background-color: #fffabf;
    padding: 20px;
    border-left: 4px solid #FFCF47;
    margin: 1rem 0 2rem 0.8rem;
}

.service-booking-message.alert {
    background-color: #F5E5E6;
    border: 1px solid #982426;
    border-left: 4px solid #982426;
    margin-left: 0;
}

.save-link {
    clear: both;
    margin-top: -20px;
    padding: 5px 20px 20px 20px;
}

.save-link h3 {
    font-size: 1em;
}

.save-link .form-control {
    width: 100%;
    margin-bottom: 10px;
}

#copy {
    margin-right: 10px;
}
.strap-line {
    display: none;
    margin: 20px 0 -20px 0;
    color: #0072C6;
    font-weight: 600;
}
.inner-service {
    display: none;
    margin: 40px 10px 20px;
}
.outer-service {
    display: none;
    margin: 40px 0;
}
.service-message--inner {
    padding: 10px 0 0 10px;
}
.service-message{
    padding: 10px 0;
}
.service-find:link, .service-find:visited {
    border: 1px solid white;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #fff;
    color: #000;
}
.service-find:hover {
    background-color: #768692;
    border: 1px solid #768692;
}

.service-find--b:link, .service-find--b:visited {
    border: 1px solid white;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #4c9c39;
    color: #fff;
}
.service-find--b:hover {
    background-color: #006647;
    border: 1px solid #006647;
}

.outer-service .service-find:link, .outer-service .service-find:visited {
    border: 1px solid #4c9c39;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #4c9c39;
}

.outer-service .service-find--b:link, .outer-service .service-find--b:visited {
    border: 1px solid #4c9c39;
    text-decoration: none;
    color: #4c9c39;
    padding: 10px 20px;
    background-color: #4c9c39;
}

.outer-service .service-find:hover {
    background-color: #006647;
    border: 1px solid #006647;
}
.outer-rationale {
    display: none;
    margin: 20px 0 40px;
}

.heading-with-sub{
    margin: 40px 0 0 0;
}
.advice-sub-header{
	 margin: 40px 0 0 8px;
}
.advice-sub-header--b{
	margin-bottom: 40px;
}

@media (max-width: 360px)
{
.advice-sub-header , .advice-sub-header--b{
    font-size: 18px;
    line-height: 26px;
	
}

.advice-sub-header{
	margin: 20px 0 0 8px;
}
.advice-sub-header--b{
	margin: 15px 0 15px 0;
}
}
