h3 {
    font-size: 28px;
    line-height: 32px;
}

.care-advice {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 40px;
}

.sp-module {
    margin: 30px 0;
}
@media (min-width: 769px) {
    .sp-module {
        margin: 30px 0;
    }
}

hr {
    clear: left;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(lightgray));
    background-image: -webkit-linear-gradient(top, transparent 50%, lightgray 50%);
    background-image: linear-gradient(to bottom, transparent 50%, lightgray 50%);
    padding: 0;
    margin: 40px 0;
    border: lightgray;
    height: 1px
}
@media (min-width: 769px) {
    hr {
    }
}

p {
    padding-top: 0;
}

.advice-before-going {
    padding: 0;
    width:  67%;
}
.findservice-form {
    background-color:  #EAEAEA;
    border: 1px solid grey;
    margin-bottom: 40px;
    padding: 40px 30px;
    width: 600px;
}
@media (max-width: 769px) {
    .findservice-form {
        width: inherit;
    }
}

@media (max-width: 1360px) {
      .advice-before-going {
        width: 100%;
    }

}

.sub-header {
    background-color: #003087;
    color: white;
    font-size: 120%;
    padding-bottom: 30px;
}

    .sub-header div {
        margin: 0 auto;
        width: 75%;
    }

    .sub-header .aande {
        background-color: white;
        color: #fa8633;
        width: 60px;
        height: 60px;
        border-radius: 80px;
        padding: 20px;
        font-size: 108px;
        line-height: 62px;
        font-weight: bolder;
        margin: 65px 30px 65px 0;
        float: left;
    }

.button.find-address {
    background-color: #707070;
    padding-right: 5rem;
    background-image: url("/content/images/icons/icon-button-next.svg");
    background-repeat: no-repeat;
    background-position: 85% 60%;
}

    .button.find-address:link, .button.find-address:hover, .button.find-address:focus, .button.find-address:visited {
        background-color: #333333;
    }

.inline-details {
    overflow: auto;
    display: block;
    padding: 0.5rem 0 2rem 0;
}

    .inline-details input {
        float: left;
        margin-right: 2rem;
    }

.button-link {
    border: none;
    padding: 0 !important;
    padding-right: 20px !important;
    cursor: pointer;
    color: #0072C6;
    background-color: white !important;
    background-image: url("/content/images/icons/icon-link-go.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

    .button-link:link, .button-link:hover, .button-link:focus, .button-link:visited {
        color: #0072C6;
        outline: none;
    }

    .button-link:hover, .button-link:focus {
        text-decoration: underline !important;
    }

.findservice .button-next {
    background-position: 95% 60%;
}


@media (min-width: 641px) {
     .sub-header h2 {
        padding-top: 60px;
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 44px;
    }
    .findservice .form-control {
        width: 265px;
    }

    .findservice .button-next {
        margin-top: 20px;
    }

    .advice-before-going p {
        padding-right: 15px;
    }
}

@media (max-width: 640px) {
    .findservice .button-next {
        margin-top: 5px;
    }

     .sub-header h2 {
        padding-top: 30px;
        font-size: 36px;
        line-height: 40px;
    }
    .sub-header {
        padding-bottom: 30px;
    }

    .care-advice h3 {
        font-size: 22px;
        line-height: 28px;
    }
}
.findservice label {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}
.findservice .find-service-help {
    padding-top: 20px;
    padding-bottom: 30px;
}
.findservice .find-service-help:last-of-type {
    padding-bottom: 10px;
}
.changeAnswers {
    float: right;
    clear:both;
}

.findservice h3 {
    margin-bottom: 30px;
}
.section-margin label {
    display: block;
    margin-bottom: 20px;
}
details summary {
    width: 100%;
    outline:none;
     
}

details summary:hover {
    border: 0;
}

details summary::-webkit-details-marker {
    float: right;
    padding-top: 1.4rem;
}
.outcome-additional-info {
    margin-bottom: 40px;
}
.outcome-additional-info ul {
    padding: 0 20px; 
    list-style-type:disc;
}
.outcome-additional-info-header {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 30px;
}
.itk-message ul li {
    list-style-type: disc;
}

.itk-message ul {
    margin-left: 20px;
    margin-bottom: 40px;
}
