.service-list-content {
    padding: 10px 10px 0 10px;
    max-width: 45.8333333333rem;
}
@media screen and (min-width: 40em) {
    .service-list-content {
        max-width: none;
    }
}

.service-list-content:not(:last-child)  {
    border-bottom: 1px solid #888;
    padding-bottom: 20px;
    }
.service-list-content a {
    margin-top: 10px;
    display: inline-block;
}

.button-next {
    background-position: 100% 60%;
    margin: 10px 0 10px;
    line-height:200%;
    padding:0 12.5% 0 10%;
    height: auto;
}

.button-link {
    margin: 0;
    border: none;
    padding: 0 !important;
    padding-right: 20px !important;
    cursor: pointer;
    color: #79AFDD;
    background-color: white !important;
    background-image: url("/content/images/icons/icon-link-go.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    line-height: 0;
    height: 1.5rem;
}
.button-link:link, .button-link:hover, .button-link:focus, .button-link:visited {
    color: #79AFDD;
    outline: none;
}
.button-link:hover, .button-link:focus {
    text-decoration: underline !important;
}
.directions {
    color: #0072C6;
    background-image:none;
    font-size: 1.5rem;
}
.service-map {
    height: 600px;
}

.results-map {
    display: inline-block;
    width: 100%;
}
.service-list-header {
    margin: 30px 0;
}

.service-list-header h2 {
    font-size: 36px;
    line-height: 40px;
}
@media screen and (min-width: 40em) {
    .service-list-header h2 {
        font-size: 40px;
        line-height: 44px;
    }
}

.results-service-recommended {
    background-color: #eef6eb;
}
.results-service-recommended h3{
    background-color: #eef6eb;
}

.results-list h3 {
    font-size: 20px;
    line-height: 24px;
}
@media screen and (min-width: 40em) {
    .results-list h3 {
        font-size: 24px;
        line-height: 28px;
    }
}

.sub-header {
    background-color: #003087; 
    color: white;
    font-size: 120%;
    padding-bottom: 30px;
}
.sub-header div {
    margin: 0 auto;
    width: 75%;
}
.sub-header h2 {
    padding-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 44px;
}
.button:hover, .button:focus{
    color: #000;
    background-color: #768692;
}

@media (max-width: 640px) {
    .button-next {
         background-position: 98% 60%;
    }
    .button {
            padding: 0 2rem;
    }

    .sub-header {
        padding-bottom: 30px;
    }

    .sub-header h2 {
        padding-top: 30px;
        font-size: 36px;
        line-height: 40px;
    }
    .service-list-header h2 {
        font-size: 36px;
        line-height: 40px;;
    }

}

@media (min-width: 730px) {
    .results-list {
        width: 45%;
        float: left;
    }

    .service-map {
        width: 55%;
        height: 600px;
        float: left;
    }
    .results-list {
   box-shadow: 10px 0 5px -2px #888;
    -webkit-box-shadow: 5px 0 5px -2px #888;
    position: relative;
    z-index: 1;
    min-height: 600px;
}
}

.care-advice {
    background-color: #ffffff;
    padding: 0;
}

.service-details-care-advice {
    display: inline-block;
}

input.linkButton { 
    padding: 0;
    background: none;
    border: none;
    color: #0066ff;
    text-decoration: underline;
    cursor: pointer; 
}