p.answer {
    border-top:1px dotted #ddd;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 20px;
}

p.answer:first-of-type {
    border: none;
}

p.answer:last-of-type {
    border-top:1px dotted #ddd;
    
    margin-bottom: 15px;
}

a.help-text-link {
    margin-top:5px;
}

a {
    top: 30px;
}

label {
    display: block;
    padding: 10px 0;
}

span.answer-text {
    vertical-align: super;
    padding-left: 5px;
}

p.answer label:hover {
    background: #ddd;
}


input[type='radio'] {
    display: inline;
    width: 30px;
    height: 30px;
}

button[type='submit'].button-next {
    background-position: 100% 60%;
}

button[type='submit'] {
    margin-bottom: 10px;
}

h2.question-header {
    margin: 30px 0;
}

ul {
    margin-bottom: 40px;
    clear: both;
}

ul li {
    margin-bottom: 15px;
}

div.question-rationale {
    background-color: #e4f1f9;
    position: relative;
    padding: 10px 20px;
    border-left: 4px solid #0073c6;
    margin: 0 0 20px 0;
}

    div.question-rationale h3 {
        font-size: 100%;
        line-height: 32px;
    }

    div.question-rationale p {
        margin-bottom: 0;
        padding-top: 0;
    }

.help-text-link-message {
    display: none;
    color: #404040;
    font-size: 18px;
    padding-left: 43px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
}

.help-text-link {
    font-size: 18px;
    padding-left: 38px;
    margin-left: 5px;
    margin-right: 3px;
}