
@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
    form .findAandE {
        display: none;
    }
    .care-advice-keywords {
        display: none;
    }

    .feedback-section,
    #global-cookies-banner {
         display: none;
    }

    .care-advice details {
        display: block;
    }

}
